.page {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page__content {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

@media screen and (max-width: 1024px) {
  .page__content {
    max-width: 100%;
  }
}